h1,h2,h3,h4,h5,h6 {
    background-color: deepskyblue;
    text-align: center;
    font-family: serif;
    font-family: sans-serif;
    text-transform: capitalize;
    /* firefox adds 18px margin on top and bottom */
    margin: 0 0 0 0;
    /*
	background-image: url(images/search_bg.gif);
	background-image: url(images/navbg.gif);
	color: white;
	*/
}

div.body {
    width: 904px;
    background-color: lavender;
    border-width: 1px 1px 1px 1px;
    border-color: blue;
    border-style: dotted;
    font-family: sans-serif;
    padding: 0;
    margin: 0 auto 0 auto; /* IE:x */
}

div.logo {
	width: 100%;
	height: 116px;
	background-image: url("../images/logo.jpg");
	background-position: 40%;
	text-align: right;
	color: white;
	background-color: gray;
	font-weight: bold;
}

table.parent, table.parent tr, table.parent tr td {
	border-width: 0px;
	border-collapse: collapse;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

div.sidebar {
	width: 200px;
	height: 380px;
	overflow-y: auto;
	border: inset green 1px;
}

div.content-tabs {
	width: 700px;
	height: 380px;
	overflow-y: auto;
	border: inset green 1px;
}

body {
    background-color: white;
    margin-top: 0px;
}

div.messages-Info {
	border: 2px solid green;
}

div.messages-Warn {
	border: 2px solid yellow;
}

div.messages-Error {
	border: 2px solid red;
}

div.footer {
    text-align: right;
    font-family: monospace;
    font-size: 12px;
}

div.horizontal {
    display: inline;
}

div.scrollable table {
	border-collapse: collapse;
}

div.scrollable td, div.scrollable th {
	border: solid black 1px;
}

tr.odd {
	background-color: lightblue;
}

th {
	color: white;
	background-color: blue;
}

td.even {
	background-color: lavender;
}

tr.hilite {
	background-color: gold;
}

/* BEGIN: *************** Scrolling Table with static headers */
div.scrollable {
	overflow-y: scroll;
}

div.scrollable th  {
	position: relative;
	z-index: 20;
	top: expression(this.parentNode.parentNode.parentNode.parentNode.scrollTop);
	/*              th  .tr        .thead     .table     .div */
}
/* END  : *************** Scrolling Table with static headers */

/* BEGIN: *************** Tree Table */
table.tree {
	font-weight: bold;
}

table.tree table.nodes {
	background-color: lightgreen;
	margin-left: 20px;
	font-weight: normal;
}
/* END  : *************** Tree Table */

/* BEGIN: *************** Accordion Table */
table.accordion table > td {
	border: ridge black 1px;
}

table.accordion > tr > td {
	border-width: 0px;
}

table.accordion tr, table.accordion table, table.accordion > tr > td {
	width: 100%;
	border-collapse: collapse;
}

table.accordion tr.label {
	background-color: gray;
	color: white !important;
}
/* END  : *************** Tree Table */

label {
	text-align: right;
	display: block;
	font-style: italic;
	background: url("../images/applix.png");
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 20px;
	margin-right: 15px;
}


/* BEGIN: *************** loan-doc-list */
.level1-selected {
	font-weight: bold;
	list-style-image: url("../images/folder_open.png");
}

.level1 {
	list-style-image: url("../images/folder.png");
}

.level2 {
	background-color: lightgreen;
	font-weight: normal;
	list-style-image: url("../images/document.png");
}
/* END  : *************** Tree Table */
