<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!--
   | For more configuration infromation and examples see the Jakarta Log4j
   | owebsite: http://jakarta.apache.org/log4j
 -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ABSOLUTE} %-5p [%c]%n%m%n" />
		</layout>
	</appender>

    <category name="com.doshiland">
        <level value="DEBUG" />
    </category>

    <category name="com.sysdelphia">
        <level value="DEBUG" />
    </category>

   <!-- 
    <category name="com.sun.facelets">
        <level value="DEBUG" />
    </category>
   -->

   <!-- 
    <category name="facelets">
        <level value="DEBUG" />
    </category>
   -->

   <root>
      <priority value="INFO"/>
      <appender-ref ref="CONSOLE"/>
   </root>
   
</log4j:configuration>
